.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header::after {
    content: '';
    height: 3px;
    border-radius: 50%;
    background: linear-gradient(35deg, #1A6DFF, #C822FF);
    margin: 0 auto;
    width: 90%;
}


.header div {
    min-width: 40%;
    max-width: 330px;
    display: flex;
    justify-content: space-evenly;
    height: 45px
}

.loginButton{
    width: 100px;
    font-size: 20px;
    color: grey;
    text-align: end;
    padding-right: 50px;
    padding-top: 6px;
    display: block !important;
    cursor: pointer;
}
.loginButton a{
   color: grey !important;
   text-decoration: none;
   margin: 0 10px;
}

.headerButton {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}
.headerButton img {
    height: 38px;
    cursor: pointer;
}

.admin-page img {
    height: 40px
}
.bin img {
    height: 40px
}


.headerTitle{
    position: absolute;
    top: -40px;
    display: inline-block;
    width: 30%;
    left: 46%;
    color: grey;
}

.headerBinCount {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    position: absolute;
    right: 3px;
    bottom: 10px;
}
@media screen and (max-width: 1000px) {
    .headerTitle {
        display: none !important;
    }
}

@media screen and (max-width: 500px){
    .header {
        justify-content: space-around;
    }
    
    .loginButton{
        padding: 6px 0 0 0;
    }
}