.modalBackground {
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: rgba(46, 46, 46, 0.3);
    position: fixed;
    top: 0;
    left: 0;
}

.modalWindow {
    width: 500px;
    height: 550px;
    background-color: white;
    position: fixed;
    border-radius: 5px;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    box-shadow: 4px 4px 38px 0px rgba(34, 60, 80, 0.2);
    padding: 10px;
    z-index: 10;
}

.modalWindowCategory {
    width: 500px;
    height: 250px;
    background-color: white;
    position: fixed;
    border-radius: 5px;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    box-shadow: 4px 4px 38px 0px rgba(34, 60, 80, 0.2);
    padding: 10px;
    z-index: 10;
}

.modalWindowOrder{
    width: 500px;
    
    background-color: white;
    position: fixed;
    border-radius: 5px;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    box-shadow: 4px 4px 38px 0px rgba(34, 60, 80, 0.2);
    padding: 10px;
    z-index: 10;
}

.modalWindowOrders {
    width: 500px;
    
    background-color: white;
    position: fixed;
    border-radius: 5px;
    left: calc(50% - 250px);
    top: calc(50% - 350px);
    box-shadow: 4px 4px 38px 0px rgba(34, 60, 80, 0.2);
    padding: 10px;
    z-index: 10;
}

.mainOrdersBlock{
    max-height: 600px;
    overflow-y: scroll;
}

.sendOrderField {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
}
.sendOrderField p {
    width: 25%;
    text-align: center;
    margin: 5px 0;
}

.modalHeader {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.modalHeader .closeIcon {
    cursor: pointer;
    height: 30px;
}
.modalTotalBlock {
    font-size: 20px;
    margin-left: 20px
}
.modalBlock__fieldBlock {
    width: 100%;
    display: flex;
    height: 80px;
    padding: 20px;
    justify-content: space-between;
}

.modalBlock__fieldBlock p {
    font-size: 18px;
}

.modalBlock__fieldBlock input,  .modalBlock__fieldBlock select{
    height: 25px;
}

.modalBlock__fieldBlock input, .modalBlock__fieldBlock textarea, .modalBlock__fieldBlock select {
    width: 60%;

    border-image-source: linear-gradient(35deg, #1A6DFF, #C822FF);
    border-width: 1pt;
    border-image-slice: 1;
}

input:focus, textarea:focus, select:focus{
    width: 60%;
    border-radius: 0px;
    border-image-source: linear-gradient(35deg, #1A6DFF, #C822FF);
    border-width: 2pt;
    border-image-slice: 1;
}

.submitButton {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    margin: 10px auto;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    background: linear-gradient(35deg, #1A6DFF, #C822FF);
}

.showOrdersButton img {
    height: 40px;
    cursor: pointer;
}

@media screen and (max-width: 500px){
    .modalWindow{
        width: 100%;
        height: 100%;  
        left: 0;
        top: 0;
    }
    .modalWindowCategory{
        width: 100%;
        height: 100%;  
        left: 0;
        top: 0; 
    }
    .modalBlock__fieldBlock p {
        font-size: 14px;
    }
    .modalWindowOrders{
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .mainOrdersBlock{
        max-height: calc(100% - 50px)
    }
    .modalWindowOrder{
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .modalForm__infoBlock{
        height: 55vh;
        overflow: scroll;
    }
}
